# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Temporary
*.log

# Python cache
.pytest_cache/

# Streamlit cache
.streamlit/secrets.toml

# Model cache
*.joblib.bak